/// Background of a sidebar
/// @group sidebar
$sidebarBg: #99d2ed;

/// Width of a sidebar
/// @group sidebar
$sidebarwidth: 240px;
$sidebar-min-width: 240px;
$sidebar-max-width: 240px;

/// Animation of a sidebar
/// @group sidebar
$sidebar-transition-duration: 250ms;

/// Background of a footer
/// @group footer
$footerBg: #cbb476;

/// Text color of a footer
/// @group footer
$footerTextColor: #184171;

/// Text color of a footer
/// @group footer
$footerHeight: 30px;
