<div class="fond-solidarnosti-page flex flex-column flex-wrap w-full">
  <app-page-header title="Zahtjev za dodjelu sredstva iz sindikalnog Fonda solidarnosti"></app-page-header>
  <div class="pages-content flex flex-column flex-wrap overflow-auto pb-5">
    <div class="fond-solidarnosti-podaci relative">
      <fond-solidarnosti-tabs></fond-solidarnosti-tabs>
      <div class="fond-solidarnosti-info absolute top-0 right-0">
        <div class="flex flex-row justify-content-between m-2">
          <span class="fond-solidarnosti-info-title pr-3">Status:</span>
          <span class="fond-solidarnosti-info-data">AKTIVAN</span>
        </div>
        <div class="flex flex-row justify-content-between m-2">
          <span class="fond-solidarnosti-info-title pr-3">Registarski broj:</span>
          <span class="fond-solidarnosti-info-data">001234</span>
        </div>
      </div>
    </div>
  </div>
</div>
