app-clan-pretraga {
  display: flex;
  flex: 1 0 auto;

  p-scrollpanel {
    width: 100%;
    height: 90vh;

    .clan-pretraga {
      display: flex;
      justify-content: space-between;
    }

    .addUser {
      .p-button {
        width: 4rem;
        height: 4rem !important;
      }
      span {
        color: #ffffff !important;
        font-weight: 700;
        font-size: 1.5rem;
      }
    }
  }
}
