<div class="clan-iskaznica-page flex flex-column flex-wrap w-full">
  <app-page-header title="Članska iskaznica"></app-page-header>
  <div class="pages-content flex flex-column flex-wrap overflow-auto pb-5">
    <div class="clan-iskaznica-podaci h-full flex flex-column justify-content-center align-items-center">
      <div class="iskaznica flex flex-column">
        <div class="iskaznica-header flex align-items-center p-2">
          <div class="iskaznica-logo ml-3 mr-3 pt-1">
            <img class="logo-icon" src="../../../../../assets/images/logo/sindikat_logo.svg" alt="Sindikati logo" width="45" />
          </div>
          <span class="iskaznica-sindikati">Sindikat državnih i lokalnih službenika i namještenika</span>
        </div>
        <div class="iskaznica-content flex flex-column justify-content-start align-items-center h-full p-5">
          <span class="iskaznica-clan-ime">Pero Perić</span>
          <span class="iskaznica-clan-broj">40001</span>
        </div>
      </div>
      <div class="iskaznica-action">
        <button pButton pRipple label="PREUZMI" class="p-button-default p-button-primary mt-5" icon="pi pi-download" iconPos="left"></button>
      </div>
    </div>
  </div>
</div>
