nova-sifra {
  form {
    .nova-sifra-podaci {
      formly-group:not(.formgrid) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .formgrid {
          display: flex;
          flex-wrap: wrap;
          width: 20rem;

          formly-field {
            padding: 0.2rem;

            .field-checkbox {
              justify-content: end;
            }
          }
        }
      }
    }

    .nova-sifra-actions {
      .p-button {
        width: 8rem;
      }
    }
  }
}
