<div class="clan-podaci-page flex flex-column flex-wrap w-full">
  <app-page-header title="Podaci o članu"></app-page-header>
  <div class="pages-content flex flex-column flex-wrap overflow-auto pb-5">
    <div class="clan-podaci relative">
      <clan-podaci-tabs></clan-podaci-tabs>
      <div class="clan-info absolute top-0 right-0">
        <div class="flex flex-row justify-content-between m-2">
          <span class="clan-info-title pr-3">Datum unosa:</span>
          <span class="clan-info-data">14.01.2023</span>
        </div>
        <div class="flex flex-row justify-content-between m-2">
          <span class="clan-info-title pr-3">Unio korisnik:</span>
          <span class="clan-info-data">Melita Markić</span>
        </div>
      </div>
    </div>
  </div>
</div>
