<s-edit-control-container [actions]="actions" [label]="label" [required]="formControlRequired() || required" [floatingLabel]="floatingLabel">
  <ng-template pTemplate="control">
    <p-multiSelect
      [formControl]="formControl"
      [options]="dataSource.data$ | async"
      [optionLabel]="dataSource.displayField"
      [optionValue]="dataSource.valueField"
      [showHeader]="false"
      display="chip"
      (ngModelChange)="onChanged($event)"
      (blur)="onTouched()"
      appendTo="body"
      (onClick)="onClick()"
    >
      <ng-template let-item pTemplate="item">
        <div class="grid dropdown-columns">
          <div *ngFor="let col of dropdownColumns" [class]="dropdownClass(col)" class="dropdown-column">
            {{ item[col.field] }}
          </div>
        </div>
      </ng-template>
    </p-multiSelect>
  </ng-template>
</s-edit-control-container>
