<div class="pozajmica-page flex flex-column flex-wrap w-full">
  <app-page-header title="Zahtjev za pozajmicu"></app-page-header>
  <div class="pages-content flex flex-column flex-wrap overflow-auto pb-5">
    <app-pozajmica-pretraga-table></app-pozajmica-pretraga-table>
    <app-pozajmica-pretraga-main></app-pozajmica-pretraga-main>
    <app-pozajmica-pretraga-form></app-pozajmica-pretraga-form>

    <app-pozajmica-zahtjev-tabs></app-pozajmica-zahtjev-tabs>
    <app-pozajmica-zahtjev-prilozi></app-pozajmica-zahtjev-prilozi>
    <app-pozajmica-zahtjev-main></app-pozajmica-zahtjev-main>
    <app-pozajmica-zahtjev-form></app-pozajmica-zahtjev-form>

    <!-- <div class="pozajmica">
      <div class="pozajmica-labels">
        <div class="pozajmica-labels-icon">
          <fa-icon [icon]="labelsIcon" size="2x"></fa-icon>
        </div>
        <div class="">
          <div>
            Status: <span class="status-label">{{ statusLabel }}</span>
          </div>
          <div>
            Registarski broj: <span class="reg-label">{{ regLabel }}</span>
          </div>
        </div>
      </div>
      <div class="pozajmica-tabs">
        <p-tabView>
          <p-tabPanel header="Pretraga">
            <div class="pozajmica-pretraga-tab">
              <app-pozajmica-pretraga></app-pozajmica-pretraga>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Zahtjev">
            <div class="pozajmica-zahtjev-tab">
              <app-pozajmica-zahtjev></app-pozajmica-zahtjev>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div> -->
  </div>
</div>
