:host {
  .folded:not(.unfolded) & {
    .nav-link {
      > span {
        display: none;
        transition: display 200ms ease;
      }
    }

    &.open {
      .children {
        display: none !important;
      }
    }
  }
}
